@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);

html,body {
  margin: 0;
  background-color: #171717;
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
}

body {
    padding: 2em;
    text-align: center
}

.container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    min-height: 100%;
    height: 100%;
    align-items: center;
}

.left {
  order:1;
  flex-grow: 2;
  padding: 10px;
}

.middle {
  order:3;
  flex-grow: 3;
  text-align: center;
}

.right {
  order:2;
  flex-grow: 2;
}

.button {
  height: 32px;
  padding: 5px;
  outline: 2px solid #7b7b7b;
  border: 3px solid #fff;
  cursor: pointer;
  width: 120px;
  margin: 5px;
  display: inline-block;
  background-color: #a85050;
  background-image: url('../img/background-pattern.png');
}

.button:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.button img {
  position:absolute;
}

.button span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 32px;
}

.hidden {
  display: none;
}

.attrValue {
  padding-left: 5px;
  padding-right: 5px;
  background: black;
  color: white;
  display: inline-block;
width: 30px;
text-align: center;
}

#attributes {
  padding: 10px;
  outline: 2px solid #7b7b7b;
  border: 3px solid #fff;
  background-color: #a85050;
  background-image: url('../img/background-pattern.png');
}

#attributes>div{
    display: inline-block;
}

meter {
  width: 150px;
  height: 15px;
  -webkit-appearance: none; /* Reset appearance */
  border: 1px solid #ccc;
  border-radius: 3px;
}

meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: whiteSmoke;
  box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background: linear-gradient(to bottom, #ff1616 0%,#ff7a7a 24%,#ffffff 50%,#ff7a7a 79%,#ff1616 100%);
  background-size: 100% 100%;
}

.attrName {
  width: 130px;
display: inline-block;
}

.hand-cursor{
  cursor: pointer;
}

.talk-box {
  background-color: #a85050;
  background-image: url('../img/background-pattern.png');
  min-height: 100px;
  color: white;
  outline: 2px solid #7b7b7b;
  border: 3px solid #fff;
  margin: 3%;
  font-size: 20px;
  display: inline-block;
  padding: 5px;
}

.talk-mugshot {
  width: 65%;
}

.mugshot {
  background-color: #a85050;
  background-image: url('../img/background-pattern.png');
  padding: 5px;
  display: inline-block;
  outline: 2px solid #7b7b7b;
  border: 3px solid #fff;
  float: left;
}

#arrival {
  margin-top: 30px;
}

.room {
  background-image: url('../img/room.png');
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.calendar tr>td{
  width: 32px;
  height: 32px;
  border: 1px solid #FFFFFF;
}

.calendar {
  background-color: #000000;
  outline: 2px solid #7b7b7b;
  border: 3px solid #fff;
}

.princessInfo {
  margin-top: 15px;
  font-size: 20px;
}

.princessInfo img {
  vertical-align: middle;
}

.calendarDiv {
  display: inline-block;
}

@media screen and (min-width:600px) {
   .container {
       flex-wrap:nowrap;
   }

    .left {
        flex-basis:200px;
        order:1;
    }
    .middle {
        flex-basis:1;
        order:2;
    }
    .right {
        flex-basis:200px;
        order:3;
    }
}
