html,body {
  margin: 0;
  background-color: #b18484;

}

body {
    padding: 2em;
}

.container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    min-height: 100%;
    height: 100%;
    align-items: stretch;
}

.left {
  order:1;
  flex-grow: 2;
  padding: 10px;
}

.middle {
  order:3;
  flex-grow: 1;
  text-align: center;
}

.right {
  order:2;
  flex-grow: 2;
}

.button {
  height: 32px;
  padding: 5px;
  background: #c35d5d;
  border: 3px double white;
  cursor: pointer;
  width: 150px;
  margin: 5px;
  display: inline-block;
}

.button:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.button img {
  position:absolute;
}

.button span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 32px;
}

.hidden {
  display: none;
}

.attrValue {
  padding-left: 5px;
  padding-right: 5px;
  background: black;
  color: white;
  display: inline-block;
width: 30px;
text-align: center;
}

#attributes {
  background: #c35d5d;
    padding: 10px;
        border: 3px double white;
}

meter {
  width: 150px;
  height: 25px;
  -webkit-appearance: none; /* Reset appearance */
  border: 1px solid #ccc;
  border-radius: 3px;
}

meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: whiteSmoke;
  box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background: linear-gradient(to bottom, #ff1616 0%,#ff7a7a 24%,#ffffff 50%,#ff7a7a 79%,#ff1616 100%);
  background-size: 100% 100%;
}

.attrName {
  width: 130px;
display: inline-block;
}

@media screen and (min-width:600px) {
   .container {
       flex-wrap:nowrap;
   }

    .left {
        flex-basis:200px;
        order:1;
    }
    .middle {
        flex-basis:1;
        order:2;
    }
    .right {
        flex-basis:200px;
        order:3;
    }
}
